@import "../../scss/colors.scss";

.btn {
  cursor: pointer;
  border: none;
  border-radius: 14px;
  background: map-get($mainColors, "mainWhite");
  display: flex;
  align-items: center;
  padding: 9px 20px 13px 20px;
  color: map-get($mainColors, "mainBlack");
  transition: 0.4s ease-out;
  &:hover {
    color: map-get($mainColors, "mainGray");
    transform: translateY(-5px);
  }
  &--small {
    padding-left: 8px;
  }
  &--big {
    width: 458px;
    padding: 11px;
  }
}
