@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.promo {
  height: 1558px;
  background-color: map-get($mainColors, "mainBlack");
  &__text {
    color: map-get($mainColors, "mainGray");
  }
  &__card {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    &--item {
      width: 576px;
      height: 600px;
      padding: 1.5rem;
      background: url(../../assets/Images/promo/Card1.jpg);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      transition: 0.4s ease-out;
      &:hover {
        transform: translateY(-15px);
      }
    }
  }
}

.card2 {
    background: url(../../assets/Images/promo/Card2.jpg);
    @media screen and (max-width: map-get($breakpoints,'xl')) {
      display: none;
    }
}
.card3 {
    background: url(../../assets/Images/promo/Card3.jpg);
    @media screen and (max-width: map-get($breakpoints,'xl')) {
      display: none;
    }
}
.card4 {
    background: url(../../assets/Images/promo/Card4.jpg);
}
