@import "../../scss/colors.scss";

.header {
  height: 716px;
  background-image: url("../../assets/Images/header/IMAGE1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__text {
    color: map-get($mainColors, "mainGray");
    text-transform: uppercase;
  }
  &__link {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    &--item {
      display: flex;
      gap: 6px;
    }
  }
}
