@import "../../scss/colors.scss";

.feedback {
  height: 414px;
  background-color: map-get($mainColors, "mainBlack");
  &__text {
    color: map-get($mainColors, "mainGray");
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
